#brand {
	width: 100%;
	padding: 200px 0;
	background-color: #eee;
	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;
		h2 {
			font: bold 24px/1 'arial';
			color: #555;
			text-align: center;
			margin-bottom: 50px;
		}
		.wrap {
			width: 100%;
			// &::after {
			// 	content: '';
			// 	display: block;
			// 	clear: both;
			// }

			article {
				&:nth-of-type(1) {
					width: 380px;
					height: 620px;
					background-color: #444;
					float: left;
					margin-right: 20px;
					padding: 170px 50px 0;
					text-align: center;
					i {
						font-size: 100px;
						color: #fff;
						margin-bottom: 20px;
					}
					h3 {
						font: bold 20px/1 'arial';
						color: #fff;
						margin-bottom: 30px;
					}
					p {
						font: 14px/1.3 'arial';
						color: #999;
						margin-bottom: 30px;
					}
					a {
						display: block;
						width: 150px;
						height: 30px;
						font: 11px/30px 'arial';
						color: #ddd;
						border: 1px solid #bbb;
						margin: 0 auto;
					}
				}
				&:nth-of-type(2) {
					width: 380px;
					height: 300px;
					float: left;
					margin-right: 20px;
					img {
						@include images;
					}
				}
				&:nth-of-type(3) {
					width: 380px;
					height: 300px;
					float: left;
					img {
						@include imagess();
					}
				}
				&:nth-of-type(4) {
					width: 780px;
					height: 300px;
					float: left;
					margin-top: 20px;
					img {
						@include imagess($obf: cover);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 700px) {
	#brand {
		padding: 100px 30px;
		.inner {
			width: 100%;
			.wrap {
				article {
					&:nth-of-type(1) {
						width: 49%;
						margin-right: 2%;
					}
					&:nth-of-type(2) {
						width: 49%;
						margin-right: 0px;
						margin-bottom: 20px;
					}
					&:nth-of-type(3) {
						width: 49%;
					}
					&:nth-of-type(4) {
						width: 100%;
					}
				}
			}
		}
	}
}
